<!--INCLUDE:Head.html-->
	<h1>TeamSpeakPHPBots Default Page</h1>

	<p style="font-size: 1.5em;">
		This simple default page demostrates the HTML assempling engine of TeamSpeakPHPBots.<br>
		For more details read the documentation.
	</p>
	
	<h2>Some of default dynamic variables available in HTML code.</h2>
	<table style="border: 0px solid grey;">
		<tr>
			<td>Web Interface Version</td>
			<td><!--version--></td>
		</tr>
		<tr>
			<td>SID</td>
			<td><!--SID--></td>
		</tr>
		<tr>
			<td>Directory Templates</td>
			<td><!--dirTemplates--></td>
		</tr>
		<tr>
			<td>Directory Images</td>
			<td><!--dirImages--></td>
		</tr>
		<tr>
			<td>Directory Styles</td>
			<td><!--dirStyles--></td>
		</tr>
		<tr>
			<td>Directory Javascripts</td>
			<td><!--dirJs--></td>
		</tr>
		<tr>
			<td>Directory Libraries</td>
			<td><!--dirLibs--></td>
		</tr>
		<tr>
			<td>Last Update Time</td>
			<td><!--lastUpdate--></td>
		</tr>
		<tr>
			<td>User name (valid when logged in)</td>
			<td>'<!--userName-->'</td>
		</tr>
	</table>

<!--INCLUDE:Footer.html-->