<!--INCLUDE:Head.html-->
<script>
	function initContent() {
		if (userName === "") {
			$("#anonymuserId").show();
			$("#loggedinuserId").hide();
		}
		else {
			$("#anonymuserId").hide();
			$("#loggedinuserId").show();
		}
	}
</script>
<div id="maincontentId" class="maincontent">
	<div id="anonymuserId" style="display: none; font-weight: bold; text-align: center; padding-top: 50px;">
		Welcome to TeamSpeakPHPBots' example Greeting Bot.<br><br>
		This example demonstrates the user and bot management capabilities of the framework.<br><br>
		Please, login in order to begin the journey.<br>
		<br>
		<h2><a href="?page=Login"><img src="<!--dirImages-->/login.png" title="Login" alt="Login"></a></h2>
	</div>
	<div id="loggedinuserId" style="display: none;">
		<div style="text-align: center;">
			<a href="?page=BotConfigGB"><div style="display: inline-block; margin: 20px;"><img src="<!--dirImages-->/bot.png" alt="Bot Konfiguration"><br>Bot Konfiguration</div></a>
			<br>
			<a href="?page=UserAdministration"><div style="display: inline-block; margin: 20px;"><img src="<!--dirImages-->/user.png" alt="Benutzerverwaltung"><br>Benutzerverwaltung</div></a>
			<a href="?page=BotServer"><div style="display: inline-block; margin: 20px;"><img src="<!--dirImages-->/server.png" alt="Bot Server"><br>Bot Server</div></a>
		</div>
	</div>
</div>
<!--INCLUDE:Footer.html-->
