<!--INCLUDE:Head.html-->
<script>
	function initContent() {
		
		$("#backbtnId").show();

		if (userName === "") {
			$("#anonymuserId").show();
			$("#loggedinuserId").hide();
		}
		else {
			$("#anonymuserId").hide();
			$("#loggedinuserId").show();
		}
		LAYOUT.animateRoation("progressimgId", 100, 25);
		updateServiceStatus();
		startPeriodicStatusUpdate();
	}

	function updateServiceStatus() {
		REST.getBotServiceStatus(function(res) {
			$("#progressId").hide();
			if (res.result === "ok") {
				if (res.data.status === "up") {
					$("#serverupId").show();
					$("#serveverId").html(res.data.version);
					$("#serverdownId").hide();
				}
				else {
					$("#serverdownId").show();
					$("#serverupId").hide();
				}
			}
			else {
				$("#serverupId").hide();
				$("#serverdownId").show();
			}
		});
	}

	function startPeriodicStatusUpdate() {
		setTimeout(function() {
			updateServiceStatus();
			startPeriodicStatusUpdate();
		}, 5000);
	}
	
	function startStopBotService(start) {
		$("#progressId").show();
		$("#serverupId").hide();
		$("#serverdownId").hide();
		if (start) {
			REST.botServiceStart(function(res) {
				setTimeout(function() {
					updateServiceStatus();
				}, 500);
			});
		}
		else {
			REST.botServiceStop(function(res) {
				setTimeout(function() {
					updateServiceStatus();
				}, 500);
			});			
		}
	}
</script>
<div id="maincontentId" class="maincontent">
	<div style="margin-top: 50px;">
		<div id="progressId" style="color: black; text-align: center;">
			<img id="progressimgId" src="<!--dirImages-->/progress.png" alt="Bot Service Status">
			<br>
			<div>Retrieving Bot Service Status...</div>
		</div>
		<div id="serverupId" style="text-align: center; display:none;">
			<div>
				<div style="display: inline-block; margin: 20px;" class="imgClickable" onclick="startStopBotService(false);">
					<img src="<!--dirImages-->/serverup.png" title="Bot Service stoppen" alt="Bot Service Down">
					<br><br>
					<div style="color: black; font-weight: bold;">
						Bot Service is running.
						<br>
						Click here to stop!
					</div>
					<div style="font-size: 0.9em; font-weight: bold;">(Version: <span id="serveverId"></span>)</div>
				</div>
			</div>
		</div>
		<div id="serverdownId" style="text-align: center; display:none;">
			<div>
				<div style="display: inline-block; margin: 20px;" class="imgClickable" onclick="startStopBotService(true);">
					<img src="<!--dirImages-->/serverdown.png" title="Bot Service starten" alt="Bot Service Down">
					<br><br>
					<div style="color: black; font-weight: bold;">
						Bot Service is not running.
						<br>
						Click here to start!
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--INCLUDE:Footer.html-->
