<!--INCLUDE:Head.html-->
<script>
	function initContent() {
		$("#backbtnId").show();
		REST.getUserList(function (res) {
			if (res.result === "ok") {
				if (res.allowcreation !== "0") {
					$("#adduserId").show();
				}
				LAYOUT.putUserList("tableusersId", res.data, function (op, id) {
					switch(op) {
						case "delete":
							userDelete(id);
							break;
						case "modify":
							userModify(id);
							break;
						case "enableUser":
							userEnable(id, true);
							break;
						case "disableUser":
							userEnable(id, false);
							break;
						case "setRoleAdmin":
							setRole(id, 1);
							break;
						case "setRoleBotMaster":
							setRole(id, 2);
							break;
						default:
							;
					}
				});
			}
		});
	}

	function processUserCreate() {
		var fields = [];	
		var name  = $("#newUserFormId :input[name='name']").val();
		var email = $("#newUserFormId :input[name='email']").val();
		var login = $("#newUserFormId :input[name='login']").val();
		if (login.length < 4) {
			showMessageDialog("Notice: Login", "The login name must have at least 4 characters!", "Ok", null);
			return;			
		}
		if (email.length < 1) {
			showMessageDialog("Notice: E-Mail", "Please, enter your E-Mail address!", "Ok", null);
			return;			
		}
		if (name.length < 1) {
			showMessageDialog("Notice: Name", "Please, enter your name!", "Ok", null);
			return;			
		}
		
		fields.push({name : "name", value: name});
		fields.push({name : "email", value: email});
		fields.push({name : "login", value: login});
		fields.push({name : "description", value: $("#newUserFormId :input[name='description']").val()});

		var pw        = $("#newUserFormId :input[name='password']").val();
		var pw_repeat = $("#newUserFormId :input[name='passwordRepeat']").val();
		if ((pw.length > 7) && (pw_repeat.length > 7)) {
			if (pw === pw_repeat) {
				fields.push({name : "password", value: md5(pw)});
			}
			else {
				showMessageDialog("Notice: Password", "The given password and its repetetion do not match!", "Ok", null);
				return;
			}
		}
		else {
			showMessageDialog("Notice: Password", "A password must have at least 8 characters!", "Ok", null);
			return;
		}

		REST.createUser(fields, function(res) {
			if (res.result === "ok") {
				showMessageDialog("New User", "New user was successfully created.", "Ok",  function() {
					location.reload();				
				});
			}
			else {
				showMessageDialog("New User", "New user could not be created!\nReason: " + res.reason, "Ok",  function() {
					//
				});
			}
		});
	}

	function processUserModify(id) {
		var fields = [];
		fields.push({name : "name", value: $("#userFormId :input[name='name']").val()});
		fields.push({name : "description", value: $("#userFormId :input[name='description']").val()});
		var pw        = $("#userFormId :input[name='password']").val();
		var pw_old    = $("#userFormId :input[name='passwordOld']").val();
		var pw_repeat = $("#userFormId :input[name='passwordRepeat']").val();
		if ((pw.length > 0) || (pw_old.length > 0) || (pw_repeat.length > 0)) {
			if ((pw.length > 7) && (pw_repeat.length > 7)) {
				if (pw !== pw_repeat) {
					showMessageDialog("Notice: Password", "The password and its repetetion do not match!", "Ok", null);
					return;
				}
				fields.push({name : "passwordOld", value: md5(md5(pw_old) + "<!--SID-->")});
				fields.push({name : "password", value: md5(pw)});
			}
			else {
				showMessageDialog("Notice: Password", "A password must have at least 8 characters!", "Ok", null);
				return;
			}
		}

		REST.updateUser(id, fields, function(res) {
			if (res.result === "ok") {
				showMessageDialog("User Update", "User data was successfully updated.", "Ok",  function() {
					location.reload();
				});
			}
			else {
				showMessageDialog("User Update", "User data could not be updated!\nReason: " + res.reason, "Ok",  function() {
					location.reload();				
				});
			}
		});
	}

	function onBodyClicked(event) {
		if ($("#menuDropdownId").is( ":visible" )) {
			$("#menuDropdownId").toggle("slide");
		}
		event.stopPropagation();
	}

	function userNew() {
		$("#dialogNewUserId").show();
		var dlg = $("#dialogNewUserId").dialog({
			dialogClass: "no-close",
			draggable: false,
			autoOpen: false,
			resizable: false,
			width: 370,
			modal: true,
			buttons:{
				"Abbrechen": function(event) {
					$(this).dialog( "close" );
				},
				"Erstellen": function(event) {
					processUserCreate();
				}
			}
		});
		dlg.find("form").on("submit", function(event) {
			event.preventDefault();
			processUserCreate();
		});
		dlg.dialog("open");
		dlg.dialog("moveToTop");
	}

	function userModify(id) {
		REST.getUser(id, function(res) {
			if (res.result === "ok") {
				// fill the form inputs
				$.each(res.data, function(field, value) {
					$('#userFormId :input[name="' + field + '"]').val(value);
				});
				$("#dialogUserId").show();
				var dlg = $("#dialogUserId").dialog({
					dialogClass: "no-close",
					draggable: false,
					autoOpen: false,
					resizable: false,
					width: 370,
					modal: true,
					buttons:{
						"Abbrechen": function(event) {
							$(this).dialog( "close" );
						},
						"Ändern": function(event) {
							processUserModify(res.data.id);
						}
					}
				});
				dlg.find("form").on("submit", function(event) {
					event.preventDefault();
					processUserModify(res.data.id);
				});
				dlg.dialog("open");
				dlg.dialog("moveToTop");
			}
			else {
				showMessageDialog("Update User Data", "Failed to find the user!\nReason: " + res.reason, "Ok", null);
			}
		});
	}

	function userDelete(id) {
		showMessageDialog("Delete User", "Do you really want to delete the user?",
		"Nein", null,
		"Ja", function() {
			REST.deleteUser(id, function (res) {
				if (res.result === "ok") {
					showMessageDialog("Delete User", "User was successfully deleted.", "Ok", function() {
						location.reload();				
					});
				}
				else {
					showMessageDialog("Delete User", "User could not be deleted!\nReason: " + res.reason, "Ok", null);
				}
			});
		});
	}

	function userEnable(id, enable) {
		REST.enableUser(id, enable, function (res) {
			if (res.result === "ok") {
			}
			else {
				showMessageDialog("User Activation", "User's activation state could not be changed!\nReason: " + res.reason, "Ok", function() {
					location.reload();
				});
			}
		});
	}
	function setRole(id, role) {
		REST.setRole(id, role, function (res) {
			if (res.result === "ok") {
			}
			else {
				showMessageDialog("User Role", "User's role could not be changed!\nReason: " + res.reason, "Ok", function() {
					location.reload();
				});
			}
		});
	}
</script>
<div id="maincontentId" class="maincontent">

	<div class="contentusers">
		<table id="tableusersId" class="tablebots">
			<tr>
				<td class="head">User</td>
				<td class="head"></td>
				<td class="head"></td>
				<td class="head"></td>
				<td class="head status" style="width:150px; text-align: right;"><img id="adduserId" style="display: none;" class="imgClickable" src="<!--dirImages-->/user_add.png" alt="Neuer Benutzer" title="Neuer Benutzer" onclick="userNew();"></td>
				<td class="head" style="width:40px;"></td>
			</tr>
			<tr>
				<th>Name</th>
				<th>Login</th>
				<th>Description</th>				
				<th>Last Login</th>
				<th style="text-align: center;">Status</th>
				<td class="mods"></td>
			</tr>
		</table>
	</div>
	<div id="dialogUserId" title="Benutzer" style="display: none; max-width: 600px;" class="inputDialog">
		<form id="userFormId">
			<p>Login</p>
			<input type="text" name="login" value="" readonly>
			<p>E-Mail</p>
			<input type="text" name="email" value="" readonly>
			<br><br>
			<h3>Change User Information</h3>
			<div style="margin-left: 10px">
			<p>Name</p>
			<input type="text" name="name" value="">
			<p>Description</p>
			<input type="text" name="description" value="">
			</div>
			<h3>Change Password</h3>
			<div style="margin-left: 10px">
			<p>Old Password</p>
			<input type="password" name="passwordOld" value="">
			<p>New Password</p>
			<input type="password" name="password" value="">
			<p>Repeat new Password</p>
			<input type="password" name="passwordRepeat" value="">
			</div>
			<input type="submit" tabindex="-1" style="display: none;">
		</form>
	</div>
	<div id="dialogNewUserId" title="Neuer Benutzer" style="display: none; max-width: 600px;" class="inputDialog">
		<form id="newUserFormId">
			<p>Login</p>
			<input type="text" name="login" value="">
			<p>E-Mail</p>
			<input type="text" name="email" value="">
			<br><br>
			<h3>User Information</h3>
			<div style="margin-left: 10px">
			<p>Name</p>
			<input type="text" name="name" value="">
			<p>Description</p>
			<input type="text" name="description" value="">
			</div>
			<h3>Password</h3>
			<div style="margin-left: 10px">
			<p>Password</p>
			<input type="password" name="password" value="">
			<p>Repeat Password</p>
			<input type="password" name="passwordRepeat" value="">
			</div>
			<input type="submit" tabindex="-1" style="display: none;">
		</form>
	</div>
</div>	
<!--INCLUDE:Footer.html-->